.container {
  padding: 40px;
}


.logo {
  width: 100px;
  height: 80px;
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo__icon {
  margin-bottom: 12px;
}

main {
  margin-top: 20px;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: space-between;
}

.sectors {
  background-color: #C4C4C4;
  width: 39%;
}

.addSectors {
  background-color: #C4C4C4;
  width: 59%;
}